<h1>Customer List</h1>
<a href="{{ path('vivait_crm_homepage') }}">CRM Home</a>
<a href="{{ path('vivait_crm_customer_add') }}">Add Customer</a>

<table>
    <tr>
        <th>Forename</th>
        <th>Surname</th>
        <th>Action</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td><a href="{{ path('vivait_crm_customer_edit',{'customer':customer.id}) }}">{{ customer.forename }}</a></td>
        <td>{{ customer.surname }}</td>
        <td><a href="{{ path('vivait_crm_customer_delete',{'customer':customer.id}) }}">Delete</a></td>
    </tr>
    {% else %}
        <tr>
            <td colspan="3">No Records</td>
        </tr>
    {% endfor %}
</table>